@mixin icon(){
    width: 20px;
    height: 20px;
    padding-right: 10px;
}
header{
    background-color: white;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
        .search{
            display: flex;
            flex-direction: row;
            align-items: center;
            border:1px solid rgb(199, 199, 199);
            padding: 0px 100px 0px 20px;
            margin-top: 20px;
            color: rgb(177, 177, 177);
            font-size: 17px;
            height: 48px;
            width: 120px;
            font-family: 'Roboto', sans-serif;
            font-weight: lighter;
            .search_icon{
                @include icon();
            }
        }
        .menu_icon{
            @include icon();
            margin-top:20px ;
        }
}