@mixin h1-value(){
    color: #aea16a;
    font-family: 'DM Sans', sans-serif;
    font-size: 48px;
    font-weight: bolder;
    line-height: 150px;
}
@mixin p-value(){
    color: #0b0b0b;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: lighter;
}
.trends{
    .contentoftrends{
        .main-text{
            text-align: center;
            h1{
                @include h1-value();
            }
            p{
                @include p-value();
                margin: 0% 25% 5% 25%;
                line-height: 30px;
            }
        }
        .photos{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-left: 11%;
            margin-right: 11%;
            img{
            width: 360px;
            height: 462px;
            }
        }
    }
}
