.secondpart{
    .container{
        display:flex;
        flex-direction: row;
        margin-left:15%;
        margin-right:15%;
        margin-top: 70px;
        .main_content{
            display: flex;
            flex-direction:column;
            justify-content: center;
            font-family: 'Roboto', sans-serif;
                h2{ 
                    font-size: 20px;
                    font-weight:normal;
                }
                h1{
                    font-size: 42px;
                    font-weight:bold;
                    padding: 10px;
                    padding-left: 3px;
                }
                p{  
                    color: rgb(74, 74, 74);
                    font-size: 22px;
                    font-weight:lighter ;
                    line-height: 30px;
                }
            }
        .robot-hand{
            width: 600px;
            height: 500px;
        }
    }
}