@import url("https://fonts.googleapis.com/css2?family=Abel&family=DM+Sans&family=Roboto:wght@300;400&display=swap");
header {
  background-color: white;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
header .search {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid rgb(199, 199, 199);
  padding: 0px 100px 0px 20px;
  margin-top: 20px;
  color: rgb(177, 177, 177);
  font-size: 17px;
  height: 48px;
  width: 120px;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
}
header .search .search_icon {
  width: 20px;
  height: 20px;
  padding-right: 10px;
}
header .menu_icon {
  width: 20px;
  height: 20px;
  padding-right: 10px;
  margin-top: 20px;
}

.beginning .content {
  display: flex;
  flex-direction: column;
  margin-left: 700px;
  margin-top: 20px;
}
.beginning .content .line {
  height: 137px;
  width: 15px;
  background-color: #b9dfdf;
  margin-top: 60px;
}
.beginning .content .text {
  color: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 22px;
  font-weight: lighter;
}
.beginning .content .text h1 {
  font-size: 80px;
  font-family: "DM Sans", sans-serif;
}

.human-robotpart .container {
  display: flex;
  flex-direction: row;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 70px;
}
.human-robotpart .container .main_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}
.human-robotpart .container .main_content h2 {
  font-size: 20px;
  font-weight: normal;
}
.human-robotpart .container .main_content h1 {
  font-size: 42px;
  font-weight: bold;
  padding: 10px;
  padding-left: 3px;
}
.human-robotpart .container .main_content p {
  color: rgb(74, 74, 74);
  font-size: 22px;
  font-weight: lighter;
  line-height: 30px;
}
.human-robotpart .container .robot-hand {
  width: 600px;
  height: 500px;
}

.future-of-work .container-of-parts {
  display: flex;
  flex-direction: row;
  height: 500px;
  position: relative;
}
.future-of-work .container-of-parts .graypart {
  background-color: #262626;
  width: 50%;
  color: white;
  padding-left: 15%;
  padding-top: 2%;
}
.future-of-work .container-of-parts .graypart h2 {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  line-height: 70px;
}
.future-of-work .container-of-parts .graypart p {
  font-family: "Abel", sans-serif;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.9960784314);
  font-weight: lighter;
  font-style: italic;
}
.future-of-work .container-of-parts .bluepart {
  background-color: #b9dfdf;
  width: 50%;
  padding-right: 15%;
}
.future-of-work .container-of-parts .bluepart .images {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 20%;
  left: 220px;
  right: 280px;
}
.future-of-work img {
  width: 180px;
}

.cesrobots .contentofcesrobots {
  height: 700px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.cesrobots .contentofcesrobots .flexpart {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 80px 15% 40px 15%;
}
.cesrobots .contentofcesrobots .flexpart .titleflexbox {
  background-color: #aea16a;
  height: 220px;
  width: 320px;
  padding-right: 30px;
  align-self: flex-start;
}
.cesrobots .contentofcesrobots .flexpart .titleflexbox h1 {
  font-weight: bolder;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  color: white;
  margin: 55px 25px 65px 25px;
}
.cesrobots .contentofcesrobots .flexpart .imageflexbox {
  padding-right: 60px;
  position: absolute;
  bottom: 18%;
  left: 15%;
}
.cesrobots .contentofcesrobots .flexpart .imageflexbox img {
  width: 342px;
  height: 260px;
}
.cesrobots .contentofcesrobots .flexpart .main-imageflexbox {
  padding-right: 10px;
  padding-left: 10px;
}
.cesrobots .contentofcesrobots .flexpart .main-imageflexbox img {
  width: 350px;
  height: 490px;
}
.cesrobots .contentofcesrobots .flexpart .textflexbox {
  background-color: #b9dfdf;
  width: 350px;
  height: 490px;
  padding-left: 10px;
  line-height: 35px;
}
.cesrobots .contentofcesrobots .flexpart .textflexbox p {
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 19px;
  text-align: left;
  margin: 60px 20px 60px 20px;
}
.cesrobots .contentofcesrobots a {
  text-decoration: none;
  display: block;
  background-color: #b9dfdf;
  font-family: "Roboto", sans-serif;
  color: black;
  font-weight: bolder;
  text-align: center;
  height: 36px;
  width: 170px;
  align-self: center;
  padding-top: 15px;
}

.robotengineering .contentofrobotengineering {
  background-color: #333333;
  height: 300px;
  padding: 100px 200px 100px 200px;
}
.robotengineering .contentofrobotengineering .descriptions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  text-align: left;
  line-height: 60px;
}
.robotengineering .contentofrobotengineering .descriptions .robotization {
  margin-left: 5%;
}
.robotengineering .contentofrobotengineering .descriptions .robotization h2 {
  color: #aea16a;
  font-family: "Roboto", sans-serif;
  font-size: 29px;
  font-weight: normal;
  margin-bottom: 25px;
}
.robotengineering .contentofrobotengineering .descriptions .robotization p {
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: lighter;
  line-height: 30px;
}
.robotengineering .contentofrobotengineering .descriptions .engineering {
  margin-left: 5%;
}
.robotengineering .contentofrobotengineering .descriptions .engineering h2 {
  color: #aea16a;
  font-family: "Roboto", sans-serif;
  font-size: 29px;
  font-weight: normal;
  margin-bottom: 25px;
}
.robotengineering .contentofrobotengineering .descriptions .engineering p {
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: lighter;
  line-height: 30px;
}
.robotengineering .contentofrobotengineering .descriptions .industry {
  margin-left: 5%;
}
.robotengineering .contentofrobotengineering .descriptions .industry h2 {
  color: #aea16a;
  font-family: "Roboto", sans-serif;
  font-size: 29px;
  font-weight: normal;
  margin-bottom: 25px;
}
.robotengineering .contentofrobotengineering .descriptions .industry p {
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: lighter;
  line-height: 30px;
}

.trends .contentoftrends .main-text {
  text-align: center;
}
.trends .contentoftrends .main-text h1 {
  color: #aea16a;
  font-family: "DM Sans", sans-serif;
  font-size: 48px;
  font-weight: bolder;
  line-height: 150px;
}
.trends .contentoftrends .main-text p {
  color: #0b0b0b;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: lighter;
  margin: 0% 25% 5% 25%;
  line-height: 30px;
}
.trends .contentoftrends .photos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 11%;
  margin-right: 11%;
}
.trends .contentoftrends .photos img {
  width: 360px;
  height: 462px;
}

.quotepart {
  background-color: black;
  padding: 0% 15% 0% 15%;
  position: relative;
}
.quotepart .lineinquotepart {
  background-color: #aea16a;
  height: 252px;
  width: 15px;
  display: inline-flex;
  position: absolute;
  top: 25%;
}
.quotepart .text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 7%;
  padding-top: 10%;
}
.quotepart .text-content img {
  width: 104px;
}
.quotepart .text-content p {
  padding-top: 20px;
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: lighter;
  line-height: 35px;
}
.quotepart .text-content h2 {
  color: whitesmoke;
  align-self: flex-end;
  font-size: 30px;
  font-family: "DM Sans", sans-serif;
  padding-top: 15px;
}

.artificial-intelligence {
  background-color: #b9dfdf;
  height: 960px;
  position: relative;
}
.artificial-intelligence .contentofartificial-intelligence {
  background-color: #d7eded;
  height: 800px;
  width: 1150px;
  position: absolute;
  right: 12%;
  top: 8%;
  display: flex;
  flex-direction: row;
}
.artificial-intelligence .contentofartificial-intelligence img {
  width: 700px;
  height: 800px;
}
.artificial-intelligence .contentofartificial-intelligence .contents {
  margin: 30px 25px 0px 25px;
}
.artificial-intelligence .contentofartificial-intelligence .contents h1 {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  line-height: 55px;
}
.artificial-intelligence .contentofartificial-intelligence .contents p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  margin-top: 55px;
}
.artificial-intelligence .contentofartificial-intelligence .contents a {
  display: block;
  text-decoration: none;
  color: black;
  background-color: #b9dfdf;
  font-weight: 300;
  text-align: center;
  font-family: "Roboto", sans-serif;
  height: 20px;
  width: 169px;
  font-size: 16px;
  padding-top: 13px;
  padding-bottom: 12px;
  margin-top: 50px;
}

.aiperspectives {
  background-color: #ffffff;
  height: 950px;
  position: relative;
}
.aiperspectives .aiperspectivescomponents {
  background-color: #ffffff;
  height: 690px;
  width: 1150px;
  position: absolute;
  right: 12%;
  top: 13%;
  display: flex;
  flex-direction: row;
}
.aiperspectives .aiperspectivescomponents img {
  width: 600px;
  height: 690px;
}
.aiperspectives .aiperspectivescomponents .components {
  margin-left: 50px;
}
.aiperspectives .aiperspectivescomponents .components img {
  width: 210px;
  height: 210px;
  position: absolute;
  right: 0%;
}
.aiperspectives .aiperspectivescomponents .components h3 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 90px;
  font-weight: 400;
  margin-top: 150px;
}
.aiperspectives .aiperspectivescomponents .components h1 {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  line-height: 30px;
}
.aiperspectives .aiperspectivescomponents .components p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  margin-top: 35px;
  margin-right: 18px;
}
.aiperspectives .aiperspectivescomponents .components a {
  display: block;
  text-decoration: none;
  color: black;
  background-color: #b9dfdf;
  font-weight: 400;
  text-align: center;
  font-family: "Roboto", sans-serif;
  height: 20px;
  width: 169px;
  font-size: 16px;
  padding-top: 13px;
  padding-bottom: 12px;
  margin-top: 30px;
}

footer {
  height: 350px;
  background-color: #23354d;
}
footer p {
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 300;
  text-align: center;
  padding-top: 70px;
  position: relative;
  margin-left: 32%;
  margin-right: 32%;
  line-height: 25px;
}
footer .logos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  right: 47%;
}
footer .logos a {
  display: block;
  margin-left: 20px;
}
footer .end {
  height: 60px;
  background-color: #333333;
  margin-top: 10%;
  padding-left: 38%;
  padding-top: 3%;
}
footer .end span {
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
}
footer .end a {
  color: #b9dfdf;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

* {
  margin: 0;
}

.beginning {
  background-image: url(assets/img/robotbg.jpg);
  background-repeat: no-repeat;
  margin: 0;
  height: 750px;
}

.human-robotpart {
  height: 570px;
}

.cesrobots a:hover {
  background-color: rgba(140, 200, 230, 0.8784313725);
}

.robotengineering img {
  width: 60px;
}

.trends {
  height: 840px;
}

.quotepart {
  height: 500px;
}

.artificial-intelligence .contents a:hover {
  background-color: rgba(140, 200, 230, 0.8784313725);
}

.aiperspectives .components a:hover {
  background-color: rgba(140, 200, 230, 0.8784313725);
}

footer img {
  width: 19px;
  margin-right: 20%;
  margin-top: 30px;
}
footer .end a:hover {
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */