@use "sass/header";
@use "sass/beginningpage";
@use "sass/technologynewspage";
@use "sass/futureofworkpage";
@use "sass/robotsofcespage";
@use "sass/roboticsengineeringpage";
@use "sass/technologytrendspage";
@use "sass/quotepage";
@use "sass/airobotspage";
@use "sass/aiperspectivespage";
@use "sass/footer";
@import url('https://fonts.googleapis.com/css2?family=Abel&family=DM+Sans&family=Roboto:wght@300;400&display=swap');
*{
    margin: 0;
}
.beginning{
    background-image:url(assets/img/robotbg.jpg);
    background-repeat: no-repeat;
    margin: 0;
    height: 750px;
}
.human-robotpart{
    height: 570px;
}

.cesrobots{
    a:hover{
        background-color: #8cc8e6e0;
    }
}

.robotengineering{
    img{
        width: 60px;
    }
}
.trends{
    height: 840px;
}
.quotepart{
    height: 500px;
}
.artificial-intelligence{ 
    .contents{
        a:hover{
            background-color:#8cc8e6e0;
        }
    }
}

.aiperspectives{ 
    .components{
        a:hover{
            background-color:#8cc8e6e0;
        }
    }
}
footer{
    img{
        width: 19px;
        margin-right: 20%;
        margin-top: 30px;
    }
    .end{
        a:hover{
            text-decoration: none;
        }
    }
}